
body{
    height: 100vh;
    
}

main{
    margin: 0 auto;
   width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    background-color: wheat;
    border: 2px solid black;    
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 1em black;
    
}