
body{
    height: 100vh;
    
}

main{
    margin: 0 auto;
   width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: navy;
    background-color: wheat;
    border: 2px solid black;    
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 1em black;
    
}


.posts{
    border: 2px solid rgb(255 127 127/ 0.5) !important;
    border-radius: 1em;
    box-shadow:  0 0 1em rgb(255 127 127/ 0.5);
}

.post{
    border: 2px solid rgb(0 0 0/ 0.5);
    border-radius: 1em;
    box-shadow: 0 0 0.5em rgb(0 0 0/0.5);
}


.friends{
    overflow: auto;
    position: fixed;
    height: 80vh;
    top: 100px;
    right: 0%;
    margin-right: 10px;
    width: 15rem;
    border: 2px solid black;
    box-shadow: 0 0 1em black;
    border-radius: 1rem;
}